#show-lines-table {
    z-index: 1;
    position:fixed;
    width:100px;
    height:50px;
    /*right:0px;*/
    background:green;
    /*top:300px;*/
}
#round {
    z-index: 1;
    position:fixed;
    width:125px;
    height:50px;
    /*right:0px;*/
    background:orange;
    top: 75px;
}
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: -1;
}
#lines-table {
    position:fixed;
    height:100%;
    background:lightgray;
    width:200px;
    /*right:0px;*/
    margin-left: -230px;
}
.lines-tab {
    left: -40px;
    position: relative;
}